<h1>You're here</h1>

<% @busys_seperated.each do |busy| %>
  <% busy.each do |b| %>
    <p> <%= b[:start] %></p>
    <p> <%= b[:end] %></p>
    <% end %>
<% end %>

<h2>before</h2>
<% @before.each do |before|%>
  <p>Strat: <%= before[:start] %></p>
  <p>End: <%= before[:end] %></p>
<% end %>


<h2>After</h2>
<% @new_busys.each do |new_busys|%>
  <p>Strat: <%= new_busys[:start] %></p>
  <p>End: <%= new_busys[:end] %></p>
<% end %>
