<h1>You're here</h1>

<% @busys_seperated.each do |busy| %>
  <% busy.each do |b| %>
    <p> <%= b[:start] %></p>
    <p> <%= b[:end] %></p>
    <% end %>
<% end %>


<h2>After</h2>
<p><%= @busys.count %></p>
<% @busys.each do |busys|%>
  <p>Strat: <%= busys[:start] %></p>
  <p>End: <%= busys[:end] %></p>
<% end %>

