<h1>You're here</h1>

<% @busys_seperated.each do |busy| %>
  <% busy.each do |b| %>
    <p> <%= b[:start] %></p>
    <p> <%= b[:end] %></p>
    <% end %>
<% end %>
<h2>First</h2>
<% @a.each do |a|%>
  <p>Strat: <%= a[:start] %></p>
  <p>End: <%= a[:end] %></p>
<% end %>

<h2>Others</h2>
<% @b.each do |b|%>
  <p>Strat: <%= b[:start] %></p>
  <p>End: <%= b[:end] %></p>
<% end %>

<h2>Mix</h2>
<% @c.each do |c|%>
  <p>Strat: <%= c[:start] %></p>
  <p>End: <%= c[:end] %></p>
<% end %>
