<h1>You're here</h1>

<% @new_busys_seperated.each do |new_busy| %>
  <% new_busy.each do |b| %>
    <p> <%= b[:start] %></p>
    <p> <%= b[:end] %></p>
    <% end %>
<% end %>


<h2>Placed Activities</h2>
<p><%= @placed_activities.count %></p>
<% @placed_activities.each do |placed_activity|%>
  <p>Strat: <%= placed_activity[:start] %></p>
  <p>End: <%= placed_activity[:end] %></p>
<% end %>


<h2>Availibilities</h2>
<p><%= @availibilities.count %></p>
<% @availibilities.each do |availibilities|%>
  <p>Strat: <%= availibilities[:start] %></p>
  <p>End: <%= availibilities[:end] %></p>
<% end %>
