<div class="container upcoming-events">
  <div class="user-greeting">
    <h2>Hello, <%= current_user.first_name %></h2>
  </div>
  <div class="row">
     <div class="btn btn-schedule">
    <%= link_to "Add to Schedule", activities_path %>
    </div>
    <div class="btn btn-schedule">
    <%= link_to "My Google Calendar", "https://calendar.google.com/calendar/r", target: "_blank" %>
    </div>
  </div>

  <div class="events-title">
      <h4>Your Next 5 Days of Events</h4>
  </div>

  <div class="dashboard-events">
    <% @schedule_hash.keys.each do |weekday| %>
    <!-- Outer div of column. Need to put title here OR just above -->
      <div class="weekday-col">
        <!-- Outer div of content -->
        <div class="weekday-content">
          <!-- column content -->
          <div class="column-day">
            <% if @today == weekday %>
              <p class="weada-green"><%= weekday %></p>
            <% else %>
              <p><%= weekday %></p>
            <% end %>
            <% if @schedule_hash[weekday] != "" %>
              <% @schedule_hash[weekday].each do |event| %>
                <div class="card schedule-card <%= event.activity.name %>-bd-color";>
                  <!-- input card icon, activity-color, and weather icon if time -->
                  <div class="dashboard-icon">
                    <i class="fa fa-<%= @icons[event.activity.name.to_sym] %> <%= event.activity.name %>-color  fa-lg"></i>
                  </div>
                  <div>
                    <div class="event-name">
                      <h4><%= event.activity.description %></h4>
                    </div>
                    <div class="event-time">
                      <p>
                        <%= event.start_time.in_time_zone(@time_zone).strftime("%l %M%p") %> - <%= event.end_time.in_time_zone(@time_zone).strftime("%l %M%p") %>
                      </p>
                      <p>Weather is looking:<br><%= event.weather_condition %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
                <div class="card schedule-card";>
                  <div class="dashboard-icon ">
                    <i class="fa fa-frown fa-lg"></i>
                  </div>
                  <div>
                    <div class="no-event">
                      <h4>No Weada events today</h4>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





