<div class="container dashboard">
  <h1>Hello User</h1>
  <div class="btn btn-create-schedule"><%= link_to "Create Schedule!", activities_path %></div>
  <div class="upcoming-events">
    <% UserEvent.all.each do |event| %>
    <div class="card schedule-card";>
      <div class="event-name"><h4><%= event.activity.description %></h4></div>
      <div class="event-time"
      <p><%= event.start_time.in_time_zone(@time_zone).strftime("%l%M%p") %> - <%= event.end_time.in_time_zone(@time_zone).strftime("%l%M%p") %></p>
      </div>
      <div>
        <%= @schedule_hash %>
        <% raise %>

      </div>
    </div>
    <% end %>
  </div>
</div>





